<?xml version="1.0" encoding="utf-8"?>
<DBWarlockSettings>
  <!--=======================================================================
DBWARLOCK.CONFIG  -  Configuration file for the DBWarlock CC

XML file containing settings to customize the the DBWarlock CC.
It is STRONGLY recommended you use the Configuration UI to change this
file instead of direct changein it here.
========================================================================-->
  <showDebug>False</showDebug>
  <restManaPercent>15</restManaPercent>
  <restHealthPercent>10</restHealthPercent>
  <maxSoulShards>10</maxSoulShards>
  <healthStoneHealthPercent>45</healthStoneHealthPercent>
  <useFirestone>False</useFirestone>
  <useSpellstone>True</useSpellstone>
  <useHealthStone>True</useHealthStone>
  <useSoulstone>True</useSoulstone>
  <useDrainSoul>True</useDrainSoul>
  <useMetamorphosis>True</useMetamorphosis>
  <metamorphosisMinimumAggros>2</metamorphosisMinimumAggros>
  <useShadowCleave>True</useShadowCleave>
  <useImmolationAura>True</useImmolationAura>
  <useShadowFlame>True</useShadowFlame>
  <myLag>100</myLag>
  <petAttackDelay>500</petAttackDelay>
  <useArmor>True</useArmor>
  <armorName>Auto</armorName>
  <useShadowBolt>True</useShadowBolt>
  <useSoulFire>True</useSoulFire>
  <useIncinerate>True</useIncinerate>
  <useWand>True</useWand>
  <useSearingOfPain>True</useSearingOfPain>
  <useImmolate>True</useImmolate>
  <useCorruption>True</useCorruption>
  <dotAdds>True</dotAdds>
  <useCurse>True</useCurse>
  <curseName>Auto</curseName>
  <useLifeTap>True</useLifeTap>
  <lfTapMinHealth>50</lfTapMinHealth>
  <lfTapMaxMana>70</lfTapMaxMana>
  <useDrainLife>True</useDrainLife>
  <drainLifeMaxHealth>50</drainLifeMaxHealth>
  <drainLifeStopHealth>95</drainLifeStopHealth>
  <useDrainMana>True</useDrainMana>
  <useDeathCoil>True</useDeathCoil>
  <dcMaxHealth>40</dcMaxHealth>
  <useHealthFunnel>True</useHealthFunnel>
  <hfMinPlayerHealth>40</hfMinPlayerHealth>
  <hfPetMinHealth>40</hfPetMinHealth>
  <hfPetMaxHealth>95</hfPetMaxHealth>
  <useFear>True</useFear>
  <useHowlOfTerror>True</useHowlOfTerror>
  <useHaunt>True</useHaunt>
  <useUnstableAffliction>True</useUnstableAffliction>
  <useSummon>True</useSummon>
  <summonEntry>0</summonEntry>
  <useFelDomination>True</useFelDomination>
  <useEnslaveDemon>False</useEnslaveDemon>
  <useDemonicEmpowerment>True</useDemonicEmpowerment>
  <useDarkPact>True</useDarkPact>
  <useSoulLink>True</useSoulLink>
</DBWarlockSettings>